<h1 class="title">Upload</h1>
<form (submit)="startUpload()">
    <div class="field">
        <label class="label">Corpus</label>

    <div class="field is-grouped">

                <div class="control">
                    <p-dropdown
                        [options]="corpora$ | async"
                        optionLabel="name"
                        optionValue="id"
                        name="corpus-dropdown"
                        placeholder="select corpus"
                        [(ngModel)]="selectedCorpusId"
                        showClear="true"
                        [disabled]="!((corpora$|async)?.length > 0)"
                    >
                    </p-dropdown>
                </div>
                <div class="divider is-vertical">or</div>
                <div class="control">
                    <button
                        class="button is-primary"
                        type="button"
                        [ngClass]="{ 'is-loading': loading$ | async }"
                        (click)="openNewCorpus()"
                    >
                        Create new corpus
                    </button>
                </div>
            </div>
            </div>

    <div class="field">
        <label class="label">File(s)</label>
        <div class="control">
            <p-fileUpload
                #fileInput
                [showUploadButton]="false"
                [multiple]="true"
                customUpload="true"
                (uploadHandler)="onUpload($event)"
                fileLimit="50"
                [accept]="fileAccept"
            >
                >
            </p-fileUpload>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button
                class="button is-primary"
                type="submit"
                [disabled]="!fullyFilled()"
                [ngClass]="{ 'is-loading': loading$ | async }"
            >
                Upload & process files
            </button>
        </div>
    </div>
</form>

<p-dialog header="Create corpus" [modal]="true" [(visible)]="corpusModalVisible">
    <sas-new-corpus (cancel)="corpusModalVisible=false" (accept)="setCorpus($event)"></sas-new-corpus>
</p-dialog>

